{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <div class="container">
        {{ include('courses/_form.html.twig') }}
        <a class="mt-3" href="{{ path('app_courses_index') }}">back to list</a>
    </div>
{% endblock %}
