{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Server error ;(</h1>
        <p>
            Please visit our page later.
        </p>
    </div>
{% endblock %}
